@model AllViewModel
<section class="sections">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 pattern">
            <img src="~/img/pattern.png" width="100%" height="221px" alt="pattern" id="patternimage">
            <p class="patterntext">HAQQIMIZDA</p>
            <p class="patterntextaboutus"><a asp-controller="home" asp-action="index">ANA SƏHİFƏ</a> | <a asp-controller="about">HAQQIMIZDA</a></p>
        </div>
    </div>
</section>
<section class="sections">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="aboutus">Haqqımızda</p>
                <p class="nameofngo">“Ekonomiks” Beynəlxalq İqtisadi Araşdırmalar İctimai Birliyi</p>
                <p class="aboutustext">@Model.Abouts.AboutUs </p>
            </div>
        </div>
    </div>
</section>
<section class="sections">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="boardmember">
                    <img src="~/img/FY.jpg" alt="İdarə Heyətinin Üzvü.jpeg" width="370" height="227" class="rounded">
                    <p class="nameofmember">Fikrət Yusifov</p>
                    <p class="jobtitle">İdarə Heyətinin Sədri</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="boardmember">
                    <img src="~/img/Tale.jpg" alt="İdarə Heyətinin Üzvü.jpeg" width="370" height="227" class="rounded">
                    <p class="nameofmember">Tale Həsənov</p>
                    <p class="jobtitle">İdarə Heyətinin Sədr müavini</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <div class="boardmember">
                    <img src="~/img/BS.jpg" alt="İdarə Heyətinin Üzvü.jpeg" width="370" height="227" class="rounded">
                    <p class="nameofmember">Bayram Sadıqov</p>
                    <p class="jobtitle">İdarə Heyətinin üzvü</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sections bluebackground">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="aboutus">Gördüyümüz İşlər</p>
                <p class="nameofngo">Təşkilat yarandığı vaxtdan bu günədək bir sıra layihələr həyata keçirmişdir</p>
                <p class="aboutustext">@Model.Abouts.WhatWasDone </p>
            </div>
        </div>
    </div>
</section>
<section class="sections">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="aboutus">Partnyorlar</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 partners">
                <img src="~/img/MOE.png" alt="Ministry of Economy Logo" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 partners">
                <img src="~/img/MOEDU.png" alt="Ministry of Education Logo" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 partners">
                <img src="~/img/MOF.png" alt="Ministry of Finance Logo" class="img-fluid">
            </div>
        </div>
    </div>
</section>
